body {
  font-size: 20px;
  background: url("./background 4.jpeg") bottom center;
  background-size:auto;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  z-index: 2;
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  min-height: 300vph;
 
}
.key {
  border: 2px solid rgb(138, 113, 113);
  margin-left: 10px;
  background-color: rgb(104, 77, 10);
  border-radius: 10px;
  text-shadow: 0 0 0.4em rgb(140, 132, 132);
  text-align: center;
  width: 4rem;
  height: 4rem;
  transition: all 0.07s ease;
  margin-top: 20px;
}
span {
  justify-content: center;
  font-size: 10px;
  color: rgb(166, 158, 42);
}
.playing {
  border: 3px solid rgb(248, 245, 35);
  transform: scale(1.3);
}
kbd {
  display: block;
  font-size: 1.2em;
  margin-bottom: -35px;
  margin-top: 10px;
  
}
